@charset "UTF-8";

/*========= base ===========*/

html {
  margin: 0;
  padding:0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
   width: 1400px;
   margin: 0 auto;
 }

 article .image img {
   width: 370px;
   height: 210px;
   object-fit: cover;
 }

 header h1 {
   width: 100%;
   height: 140px;
   line-height: 140px;
   margin: 0;
   text-align: center;
   font-size: 30px;
   color: #0d0015;
   font-family: Quicksand, "Noto Sans Japanese", sans-serif;
   font-weight: normal;
   letter-spacing: 3px;
 }

 header h1 .title {
   color: #9acc1e;
 }

 .header-nav {
   width: 100%;
 }

 .header-nav ul {
   display: flex;
   justify-content: center;
 }

 .header-nav ul li {
   font-size: 14px;
   height: 46px;
   line-height: 46px;
   font-weight: 400;
   text-align: center;
   padding: 0 27px;
 }

 main {
   /* background: plum; */
   width: 100%;
   height: 2265px;
   margin-top: 20px;
   padding-top: 10px;
   margin-bottom: 120px;
 }

 #main-container {
   /* background: blue; */
   width: 1200px;
   height: 2265px;
   margin: 0 auto;
   position: relative;
 }
 #container {
   /* background: purple; */
   width: 780px;
   height: 2225px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   overflow: hidden;
 }

 #body-wrapper {
   padding: 0;
   width: 370px;
   height: 350px;
   position:relative;
  border-radius: 2px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
 }

 #body-wrapper .sub-title {
   font-size: 10px;
   font-weight: 400;
   color: #ffffff;
  background: #9acc1e;
  padding: 2px 10px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
 }

.post-title h2 {
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  padding: 16px;
}

.post-title .date {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

#sidebar {
  position: relative;
  /* background: green; */
  width: 360px;
  height: 2400px;
  position: absolute;
  top: 0;
  right: 20px;
}

#sidebar #side-text1 {
  /* background: orange; */
  width: 350px;
  height: 465px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);

}

#side-text1 article h2 {
  background: black;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  line-height: 3em;
  height: 3em;
  font-weight: normal;
}

#side-text1 .side-image img {
  padding: 20px;
  margin: 0;
  width: 300px;
  height: 240px;
}

#side-text1 .side-image p {
  width: 300px;
  word-break: break-all;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
}

#side-text1 .btn {
  width: 280px;
  height: 40px;
  margin: 0 auto;
}

#side-text1 .btn a {
  color: #ffffff;
  background: #e22255;
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  width: 280px;
  border-radius: 30px;
  margin-top: 20px;
  border: 3px double #fff;
}

#side-text2 {
  position: relative;
  /* background: blueviolet; */
  width: 350px;
  height: 515px;
  position: absolute;
  top: 500px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
}

#side-text2 .side-image2 {
  /* background: yellow; */
  width: 115px;
  height:  115px;
  margin: 0 auto;
  margin-top: 40px;
}
#side-text2 .side-image2 img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
}
#side-text2 .side-image2 h2 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  height: 30px;
}
#side-text2 .side-image2 p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.35);
  text-align:center;
  letter-spacing: 1px;
}
#side-text2 .side-p {
  margin: 0 auto;
  width: 270px;
  height: 120px;
  margin-top: 100px;
}
#side-text2 .side-p p {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
}
#side-text2 .side-btn {
  background: #AAAAAA;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border-radius: 30px;
  border: 3px double #fff;
  margin-top: 20px;
}
#side-text2 .side-btn a {
  display: inline-block;
  font-size: 10px;
  color: #ffffff;
  width: 130px;
  height: 30px;
  text-align: center;
}
#side-text2 .profile {
  background: #9ACC1E;
  width: 350px;
  height: 100px;
  margin-top: 30px;
}

#side-text2 .profile h3 {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

#side-text2 .profile ul {
  display: flex;
  justify-content: center;
}
#side-text2 .profile ul li {
  font-size: 20px;
}
#side-text2 .profile ul li .fab,
#side-text2 .profile ul li .fas {
  color: #ffffff;
  padding: 10px;
}

#side-text3 {
  /* background: yellow; */
  width: 350px;
  height: 475px;
  position: absolute;
  top: 1090px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
}
#side-text3 #side-text-wrapper {
  /* background: greenyellow; */
  display: block;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

#side-text3 h2 {
  line-height: 24px;
  margin-top: 30px;
 font-size: 18px;
 font-weight: 300;
 border-bottom: solid 2px
}
#side-text3 .side-body img {
  display: inline-block;
  width: 95px;
  height: 55px;
  margin-top: 20px;
}

#side-text3 .side-body .side-li {
  display: inline-block;
  width: 170px;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
}

#categories {
  width:350px;
  height: 140px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 1590px;
}

#categories .category {
  width: 300px;
  height: 70px;
  margin: 0 auto;
}
#categories .category h2 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  border-bottom: solid 2px;
  line-height: 24px;
}
#style-select {
  width: 300px;
  height: 30px;
  background: #F5F6F5;
  color: #888888;
  border: none;
  margin-top: 15px;
}
#side-text4 {
  width: 350px;
  height: 190px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 1760px;

}

#side-text4 .side-tag {
  /* background: firebrick; */
  width: 300px;
  height: 130px;
  margin: 0 auto;
  padding: 30px 0;
}
#side-text4 h2 {
  font-size: 18px;
  font-weight: normal;
  border-bottom: solid 2px;
  line-height: 24px;
}
#side-text4 .tag {
  margin-top: 10px;
}

#side-text4 .tag .fas {
  margin-right: 3px;
}
#side-text4 .tag a {
  display: inline-block;
  background: #F5F6F5;
  font-size: 10px;
  padding: 4px 8px;
}

#side-text5 {
  width: 350px;
  height: 135px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 1975px;
}
#side-text5 h2 {
  font-size: 18px;
  border-bottom: solid 2px;
  line-height: 24px;
}
#side-text5 form {
  position: relative;
}

#side-text5 .side-search {
  /* background: firebrick; */
  width: 300px;
  height: 130px;
  margin: 0 auto;
  padding: 30px 0;
}
#side-text5 .side-search .fa-search{
  position: absolute;
  top: 24px;
  right: 16px;
  color: #888888;

}

#side-text5 .side-search input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #F5F6F5;
  margin-top: 16px;
  outline: none;
}

#side-text6 {
  width: 350px;
  height: 190px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 2160px;
}

#side-text6 .side-recommend {
  /* background: firebrick; */
  width: 300px;
  height: 130px;
  margin: 0 auto;
  padding: 30px 0;
}

#side-text6 h2 {
  font-size: 18px;
  border-bottom: solid 2px;
  line-height: 24px;
}

#side-text6 .side-recommend img {
  width: 95px;
  height: 55px;
  margin-top: 32px;
}

.side-recommend ul  {
  display:flex;
}
.side-recommend ul li p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  height: 60px;
  width: 180px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 32px;
  letter-spacing: 1px;
}
  footer {
  background:#393642;
  width: 100%;
  height: 650px;
}

#footer-wrapper {
  width: 1150px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left-head {
  /* background: yellow; */
  width: 310px;
  height: 510px;
  margin: 0 auto;
  margin-top: 55px;
}
.footer-left-head p {
  font-size:14px;
  line-height: 25px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-top: 24px;
}
.footer-left-head img {
  width: 130px;
  height: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.footer-btn a {
  display: inline-block;
  color: #ffffff;
  background: #E22255;
  font-size: 14px;
  padding: 4px 0;
  width: 230px;
  border-radius: 30px;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
}
.footer-tag {
  width: 310px;
  height: 130px;
  color:#ffffff;
  margin-top: -100px;
}
.footer-tag h2 {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-left: 8px;
  border-left: solid 3px #9acc1e;
}
.footer-tag .f-tag {
  width: 300px;
  height: 130px;
}

.footer-tag .f-tag a {
  display: inline-block;
  background:#888888;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  padding: 1px 8px;
  color: #ffffff;
  padding: 3px 8px;
  }

  #footer-center {
    /* background: yellow; */
    display: block;
    width: 300px;
    height: 150px;
    margin-top: 40px;

  }
  .footer-center-head{
    display: flex;
    /* justify-content: space-between; */
  }
  .footer-archives {
    margin-left: 100px;
  }
  .footer-category h3,
  .footer-archives h3{
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    border-left: solid 3px #9acc1e;
    padding-left: 8px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  .footer-category ul li,
  .footer-archives ul li{
    font-size: 11px;
    line-height: 17px;
    color: #ffffff;
    margin-bottom: 16px;
  }



.footer-right {
  /* background: orange; */
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 40px;
  margin-left: -50px;
}
.footer-right-img dl dt {
  display: flex;
}
.footer-right-img dl img {
  display: inline-block;
  width: 140px;
  height: 80px;
  padding-bottom: 20px;
}
.footer-right-img dl .p {
  /* background: red; */
  color: #ffffff;
  display: inline-block;
  width: 240px;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.footer-right .footer-post h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  padding-left: 8px;
  border-left: solid 3px #9acc1e;
  color: #ffffff;
}
